*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header nav {
    display: flex;
    justify-content: space-between;
  }
h1{
    color: #938400;
    text-align: center;
}
body{
    background-color:  black;
}

.logo {
    size: 15px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
  }
header nav ul li a {
    color: #938400;

}
.containerLogo{
    width: 50px;
    height: 50px;
}

/*main section {
background-color: #5e5d5670;
height: 380px;
}
*/
.fotos  {
    border: 1px solid ;
    width: 100%;
    height: 100%;
    /* overflow:hidden; */
    /* display: flex; */
}
img{
    max-width: 100%;
    height: 100%;
    background-size: cover;
}
.Separador{
    color: #938400;
    text-align: center;
    font-size: 30px;
}

.buttonDots div span.dot{
    align-items: center;
}

.Events{
    color: #938400;
}
footer{
    background-color: black;
}
footer p {
    color: white;
}


.sectionPrincipal {

    background-color: cornflowerblue;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

  .nuestras_cervezas {
    text-align: center;

    text-indent: 20px;
    
  }
  .nuestras_cervezas img {
  
    padding: 0%;
  }


  .header {
    background-color: #030303;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
   color: #938400;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  

  .header .logo {
    display: block;
    float: left;
    font-size: 1em;
    padding: 10px 20px;
    text-decoration: none;
    width: 150px;
    height: 80px;
  }
  
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    background-color: #030303;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

.carousel-caption d-none d-md-block h5 {

    color:#938400
}

.card-group{
    height: 40%;
    width: 40%;
}